/* .logo
-------------------------------------------------------------*/
$r: '.logo';

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
  &:where([class*='sm']) {
    color: var(--primary);
    font-size: 3.5rem;

    svg {
      width: calc(51.3em / 100);
    }
  }

  &:where([class*='md']) {
    font-size: 3rem;

    svg {
      width: calc(206em / 56);
    }
  }

  &:where([class*='lg']) {
    font-size: 3.5rem;

    svg {
      width: calc(206em / 56);
    }
  }
}
