/* .sortButton
-------------------------------------------------------------*/
$r: '.sortButton';

// block
//-----------------------------------------------------------
#{$r} {
  gap: 0.5rem;
  display: flex;
  align-items: center;

  // element
  //---------------------------------------------------------
  &__title {
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.0719rem;
    text-transform: uppercase;
  }

  &__icon {
    display: flex;
    font-size: 1rem;
    color: var(--grey-100);
    transition: transform 0.3s;
  }

  // modifier
  //---------------------------------------------------------
  &__isActive {
    #{$r}__icon {
      transform: rotate(180deg);
    }
  }
}
