/* .etag
-------------------------------------------------------------*/
$r: '.etag';

// block
//-----------------------------------------------------------
#{$r} {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  max-width: 100%;
  border: 0.0625rem solid transparent;
  border-radius: var(--radius-md);
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;

  // element
  //---------------------------------------------------------
  &__icon {
    display: flex;
    flex-shrink: 0;
    transition: color 0.3s;
  }

  &__title {
    font-size: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &:disabled {
    pointer-events: none;
  }

  // modifier
  //---------------------------------------------------------
  &:where([class*='sm']) {
    gap: 0.25rem;
    min-height: 1.5rem;
    padding-inline: 0.5rem;

    #{$r}__icon {
      font-size: 0.5rem;
    }
  }

  &:where([class*='md']) {
    gap: 0.5rem;
    min-height: 2rem;
    padding-inline: 0.75rem;

    #{$r}__icon {
      font-size: 0.625rem;
    }
  }

  &:where([class*='primary']) {
    background-color: var(--yellow-20);

    #{$r}__icon {
      color: var(--grey-100);
    }

    &:hover {
      border-color: var(--yellow-20);
      background-color: var(--white);

      #{$r}__icon {
        color: currentColor;
      }
    }
  }

  &:where([class*='secondary']) {
    border-color: var(--blue-60);
    background-color: var(--blue-20);

    #{$r}__icon {
      color: var(--blue-60);
    }

    &:hover {
      color: var(--white);
      background-color: var(--blue-60);

      #{$r}__icon {
        color: var(--white);
      }
    }
  }

  &:where([class*='special']) {
    background-color: var(--white);
  }
}
