/* .signInContinueWithEmail
-------------------------------------------------------------*/
$r: '.signInContinueWithEmail';

// block
//-----------------------------------------------------------
#{$r} {
  gap: 1rem;
  display: flex;
  flex-direction: column;

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
}
