/* .signInFooter
-------------------------------------------------------------*/
$r: '.signInFooter';

// block
//-----------------------------------------------------------
#{$r} {
  gap: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  // element
  //---------------------------------------------------------
  &__text {
    font-size: 1rem;
    color: var(--grey-100);
  }

  // modifier
  //---------------------------------------------------------
}
