/* .notificationsPage
-------------------------------------------------------------*/
$r: '.notificationsPage';

// block
//-----------------------------------------------------------
#{$r} {
  // element
  //---------------------------------------------------------
  &__main {
    max-width: var(--container-sm);
    margin-inline: auto;
  }

  // modifier
  //---------------------------------------------------------
}
