/* .copyLinkSecure
-------------------------------------------------------------*/
$r: '.copyLinkSecure';

// block
//-----------------------------------------------------------
#{$r} {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  height: 2.5rem;
  line-height: 1;
  max-width: fit-content;
  cursor: pointer;
  color: var(--blue-60);
  padding-inline: 2.5rem;
  border: 0.0625rem solid var(--blue-60);
  border-radius: var(--radius-md);
  background-color: var(--blue-20);
  transition: background-color 0.3s;

  // element
  //---------------------------------------------------------
  &__icon {
    display: flex;
    flex-shrink: 0;
    color: var(--blue-60);
    font-size: 1.5rem;

    svg {
      width: calc(19em / 22);
    }
  }

  &__title {
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  // modifier
  //---------------------------------------------------------
  &:where([class*='sm']) {
    border: 0;
    height: 2rem;
    min-width: 2rem;
    padding-inline: 0;
    background-color: transparent;

    #{$r}__title {
      display: none;
    }

    &:hover {
      background-color: var(--blue-20);
    }
  }
}
