/* .recipientList
-------------------------------------------------------------*/
$r: '.recipientList';

// block
//-----------------------------------------------------------
#{$r} {
  gap: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  container-type: inline-size;

  // element
  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
}
