/* .actionMenuButton
-------------------------------------------------------------*/
$r: '.actionMenuButton';

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--grey-100);
  font-size: 1.125rem;
  transition: color 0.3s;

  &:hover {
    color: currentColor;
  }

  //---------------------------------------------------------

  // modifier
  //---------------------------------------------------------
}
