/* .colors
-------------------------------------------------------------*/
$r: '.colors';

// block
//-----------------------------------------------------------
#{$r} {
  max-width: 35rem;

  // element
  //---------------------------------------------------------
  th {
    font-weight: 600;
    padding: 1rem 0.5rem;
    border: 0.0625rem solid var(--grey-20);
  }

  td {
    padding: 0.5rem;
    border: 0.0625rem solid var(--grey-20);
  }

  tr {
    td:not(:first-child) {
      width: 25%;
    }
  }

  &__item {
    width: 3rem;
    height: 3rem;
    margin-inline: auto;
    box-shadow: var(--shadow-md);
    border-radius: var(--radius-md);
  }

  &__title {
    text-align: center;
    background-color: var(--grey-8);
  }

  &__var {
    display: inline-flex;
    align-self: flex-start;
    color: var(--grey-100);
    font-family: monospace;
    padding: 0.125rem 0.5rem;
    border-radius: var(--radius-md);
    white-space: nowrap;
    background-color: var(--grey-8);
  }

  // modifier
  //---------------------------------------------------------
}
