// SFProDisplay
//-----------------------------------------------------------
@font-face {
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay/SFProDisplay__400.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay/SFProDisplay__500.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay/SFProDisplay__600.woff2') format('woff2');
}

// Roboto
//-----------------------------------------------------------
@font-face {
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto__400.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto__500.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto__600.woff2') format('woff2');
}
