/* .welcomePage
-------------------------------------------------------------*/
$r: '.welcomePage';

// block
//-----------------------------------------------------------
#{$r} {
  display: flex;
  flex-direction: column;

  // element
  //---------------------------------------------------------
  &__main {
    gap: 2rem;
    width: 100%;
    max-width: var(--container-sm);
    padding-top: 3rem;
    margin-inline: auto;
  }

  // modifier
  //---------------------------------------------------------
}
